/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$heights: 400px 500px 600px 700px 800px 900px 1000px 1100px 1200px;

body {
  margin: 0;
}

main {
  margin: auto;
  h1 {
    text-align: center;
  }
}

#home {
  background: radial-gradient(circle, white, black);
  main {
    background: url('bg.jpg') top left no-repeat;
    background-size: contain;
  }
}

#darts_online {
  background-color: #2c0606;
  main {
    h1 {
      color: white;
    }
  }
}

#competitions {
  background-color: white;
  main {
  }
}

#resources {
  background-color: white;
  main {
  }
}

#contacts {
  background-color: white;
  main {
  }
}

a {
  text-decoration: none;
  outline: none;
  position: relative;
  display: block;
  transition: all .3s linear;
  &:hover {
    text-shadow: 0 0 5px;
  }
}

.on_black {
  color: white;
}

.on_white {
  color: black;
}

#mobile-nav {
  display: none;
}


@each $height in $heights {
  @media(min-height: $height) {
    @media(max-width: $height) {
      a, #mobile-nav li {
	font-size: $height * 0.04;
      }
      h1 {
	font-size: $height * 0.06;
      }
      #video_frame {
	border: 1px solid white;
	margin: auto;
	width: 80%;
	height: $height / 3;
      }
      #mobile-nav {
	background: #074517;
	display: block;
	ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  li {
	    float: left;
	    width: 25%;
	    * {
	      display: block;
	      color: white;
	      padding: 15px;
	    }
	  }
	  #title {
	    width: 50%;
	    text-align: center;
	  }
	  #menu {
	    float: right;
	    text-align: right;
	  }
	}
      }
      #home main {
	height: $height;
	width: $height * 0.66;

	#apps_link {
	  top: $height * 0.45;
	  left: $height * 0.2;
	  transform: rotate(70deg);
	}

	#videos_link {
	  top: $height * 0.47;
	  left: $height * 0.1;
	  transform: rotate(52deg);
	}

	#competitions_link {
	  top: $height * 0.52;
	  left: $height * 0.04;
	  transform: rotate(33deg);
	}

	#resources_link {
	  top: $height * 0.6;
	  left: $height * 0.06;
	  transform: rotate(15deg);
	}

	#my_contacts_link {
	  top: $height * 0.65;
	  left: $height * 0.06;
	}
      }
    }
  }
}
