/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$heights: 240px 320px 480px 540px 600px 640px 720px 768px 800px 854px 900px 960px 1024px 1080px 1280px 1136px 1334px 1440px 1600px 1920px 2560px; 

body {
  margin: 0;
}



a {
  text-decoration: none;
  outline: none;
  position: relative;
  display: block;
  transition: all .3s linear;
  &:hover {
    text-shadow: 0 0 5px;
  }
}

.on_black {
  color: white;
}

.on_white {
  color: black;
}


@each $height in $heights {
  @media(min-height: $height) {
    a, #mobile_nav li {
      font-size: $height * 0.04;
    }
    h1 {
      font-size: $height * 0.06;
    }
    body {
      background: radial-gradient(circle, white, black);
    }
    #main_nav, main {
      margin: auto;
      h1 {
	text-align: center;
      }
    }
    /* desktop view */
    #mobile_nav {
      display: none;
    }
    #main_nav {
      background: url('desktop_bg.jpg') top left no-repeat; 
      background-size: contain;
      height: $height;
      width: $height * 1.78;

      #apps_link {
	top: $height * -0.13;
	left: $height * -0.13;
	transform: rotate(-35deg);
      }

      #videos_link {
	top: $height * -0.14;
	left: $height * 0.35;
	transform: rotate(-18deg);
      }

      #competitions_link {
	top: $height * 0.006;
	left: $height * 0.76;
      }

      #resources_link {
	top: $height * 0.28;
	left: $height * 1.2;
	transform: rotate(18deg);
      }

      #my_contacts_link {
	top: $height * 0.62;
	left: $height * 1.44;
	transform: rotate(35deg);
      }
    }
    #video_frame {
      border: 1px solid white;
      margin: auto;
      width: 80%;
      height: $height / 3;
    }


    
    /* mobile view */
    @media(max-width: $height) {
      #mobile_nav {
	background: #074517;
	display: block;
	ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  li {
	    float: left;
	    width: 25%;
	    * {
	      display: block;
	      color: white;
	      padding: 15px;
	    }
	  }
	  #title {
	    width: 50%;
	    text-align: center;
	  }
	  #menu {
	    float: right;
	    text-align: right;
	  }
	}
      }
      #home #main_nav {
	background: url('mobile_bg.jpg') top left no-repeat;
	background-size: contain;
	height: $height;
	width: $height / 1.78;

	#apps_link {
	  top: $height * 0.45;
	  left: $height * 0.17;
	  transform: rotate(70deg);
	}

	#videos_link {
	  top: $height * 0.47;
	  left: $height * 0.07;
	  transform: rotate(52deg);
	}

	#competitions_link {
	  top: $height * 0.535;
	  left: $height * 0.02;
	  transform: rotate(33deg);
	}

	#resources_link {
	  top: $height * 0.6;
	  left: $height * 0.04;
	  transform: rotate(15deg);
	}

	#my_contacts_link {
	  top: $height * 0.64;
	  left: $height * 0.05;
	  transform: none;
	}
      }
      #darts_online, #competitions, #resources, #contacts {
	#main_nav {
	  display: none;
	}
	background: none;
      }
      #darts_online {
	background-color: #2c0606;
	main {
	  h1 {
	    color: white;
	  }
	}
      }

      #competitions {
	background-color: white;
	main {
	}
      }

      #resources {
	background-color: white;
	main {
	}
      }

      #contacts {
	background-color: white;
	main {
	}
      }
    }
  }
}
